<!DOCTYPE html>
<html>
<head>
	<title>Predict Bot Detection</title>
</head>
<body>
	<h1>Predict Bot Detection</h1>

	<form action="{{ url_for('predict') }}" method="post">
		<label>Session Duration (seconds):</label>
		<input type="text" name="session_duration"><br>

		<label>Pages Viewed:</label>
		<input type="text" name="pages_viewed"><br>

		<label>Unique Pages Viewed:</label>
		<input type="text" name="unique_pages_viewed"><br>

		<label>Product Categories Viewed:</label>
		<input type="text" name="product_categories_viewed"><br>

		<label>Add-to-Cart:</label>
		<input type="text" name="add_to_cart"><br>

		<label>Number of Products:</label>
		<input type="text" name="num_of_products"><br>

		<label>Check-out:</label>
		<input type="text" name="check_out"><br>

		<label>Conversion:</label>
		<input type="text" name="conversion"><br>

		<label>Bounce:</label>
		<input type="text" name="bounce"><br>
    <label>h:</label>
		<input type="text" name="bounce"><br>
    <label>s:</label>
		<input type="text" name="bounce"><br>
    <label>s:</label>
		<input type="text" name="bounce"><br>
    <label>d:</label>
		<input type="text" name="bounce"><br>
    <label>1:</label>
		<input type="text" name="bounce"><br>
    <label>we:</label>
		<input type="text" name="bounce"><br>
    <label>ew:</label>
		<input type="text" name="bounce"><br>
    <label>we:</label>
		<input type="text" name="bounce"><br>

		<input type="submit" value="Predict">
	</form>

	{% if prediction_text %}
		<p>{{ prediction_text }}</p>
	{% endif %}

</body>
</html>
